<div class="mb-3">
	<div class="row">
		<div class="col">
			<label class="form-label" for="ThumbnailedImageId">
				Enter image Id
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-5 col-lg-4 col-xxl-3">
			<input type="number" id="ThumbnailedImageId" name="ThumbnailedImageId" class="form-control" ng-model="id"/>
		</div>
	</div>
</div>
<div class="mb-3">
	<div class="row">
		<div class="col-auto">
			<button class="btn btn-outline-danger" ng-click="click()">
				Delete
			</button>
		</div>
	</div>
</div>
<div class="mb-3" ng-show="hasError">
	<span class="text-danger fw-bold">Error! {{errorMessage}}</span>
</div>